html {
  font-size: 24px;
}
h1 {
  font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
}

h2 {
  font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
}

header {
  border-bottom: 1px solid black;
}
