html {
  font-size: 24px;
}
h1 {
  font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
}

h2 {
  font-family: Palatino, ‘Palatino Linotype’, ‘Hoefler Text’, Times, ‘Times New Roman’, serif;
}

header {
  border-bottom: 1px solid black;
}

.class-list {
  list-style-type: square;
}

.item {
  border: 1px dotted #ccc;
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px;
}

#item2 {
  text-align: right;
}

ol > li {
  padding: 5px;
  background-color: grey;
}
